name: Publish
on:
  push:
    tags: ["*"]
jobs:
  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create release
        run: |
          gh release create \
            --repo ${{ github.repository }} \
            --title ${{ github.ref_name }} \
            --notes-file CHANGELOG.md \
            --discussion-category "announcements" \
            ${{ github.ref_name }}
        env:
          GH_TOKEN: ${{ github.token }}
